* {
    margin: 5px;
    border-radius: 5px;
}
body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: rgb(120, 120, 255);
    color: white;
}
h1 {
    color: black;
    background-color: rgb(140, 140, 255);
}
p {
    color: black;
    background-color: rgb(170, 170, 255);
}
div {
    color: black;
    background-color: rgb(100, 100, 190);
}