body {
    font-family: Calibri, 'Courier New', Courier, monospace;
    color: white;
}

header {
    text-align: center;
}

main {
    color: rgb(24, 24, 0);
    margin: auto;
    color: black;
    background-color: white;
    max-width: 700px;
    min-width: 200px;
    border-radius: 10px;
}

p {
    text-align: center;
    padding: 10px 0px 0px 0px;
}

img {
    display: block;
    margin: auto;
    padding: 10px 0px;
    border-radius: 5px;
}

footer {
    margin: 20px 0px 0px 0px;
    text-align: center;
}